@charset "utf-8";

// Import partials.
//@import
//  "simple/base",
//  "simple/layout"
//;

@font-face {
 font-family: Accanthis;
 src: url("../assets/fonts/AccanthisADFStdNo2-Regular.otf");
}
@font-face {
 font-family: foglihten;
 src: url("../assets/fonts/Foglihten-068.otf");
}



body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: Accanthis;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  margin: 2rem 25vw 2rem 25vw;
  flex-grow: 2;
}
a {
  text-transform: none;
  color: Black;
  text-decoration: none;
}
h1 {
  font-size: 3rem;
  font-family: Accanthis;
}
h3 {
  font-family: foglihten;
  margin: 0 1rem 0 0;
}
#top_button {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 3rem;
}
//Home page styling
li {
  list-style: none;
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition-property: filter;
    transition-duration: .5s;
  }
  img:hover {
    filter: none;
  }
}
img {
  max-width: 100%;
  max-height: auto;
  margin: 1rem 0 0 0;
}
//image captions
img+em{
  display: block;
  text-align: center;
  font-style: oblique;
  color: #3E3E3E;
  margin: .3rem 0 1rem 0;
}
footer {
  text-align: center;
  height: 50px;
  width: 100%;
  margin: 2rem 0 0 0;
  flex-grow: 1;
  bottom: 0;
}
audio {
  width: 100%;
  display: block;
  float: right;
  margin: .5rem 0 1.5rem 0;
  background-color: none;
}

.post_title {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  height: auto;
  width: 100%;
  margin: 2rem 0 0 0;
}
.post_date {
  font-family: foglihten;
  font-style: italic;
  margin: 0 0 0 1rem;
}
.post_excerpt {
  display: block;
  position: relative;
  margin: 1rem 0 0 0;
  font-style: italic;
}

.post-content {
  margin: 1rem 0 0 0;
  text-align: left;
}

//Only for compact layout
.image_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 .5rem 0;
  border-left: 1px dashed black;

  img {
    max-width: 45%;
    height: auto;
  }

}

.audio_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: foglihten;
  font-style: oblique;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
  border-left: 1px dashed black;

  .audio_name {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    margin: 1rem 0 0 1rem;

    audio {
      width: auto;
      margin: auto;
      display: flex;
      align-self: center;
      flex-grow: 2;
      margin-left: 1rem;
    }
  }
}

.video_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1rem 0 .5rem 0;
  border-left: 1px dashed black;
}

.image_description, .audio_description, .video_description {
  width: 100;
  height: auto;
  text-align: justify;
  margin: 1.5rem 0 1.5rem 0;
  border-bottom: 1px dashed black;
  border-left: 1px dashed black;
  padding: .3rem 1rem 0.3rem 1rem;
}

.post_nav {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  justify-content: space-around;
  font-family: foglihten;
  font-style: italic;
  margin: 2rem 0 0 0;
}

.seperated {
  background-color: #45B788;
  padding: 0 0 1rem 0;
  border-left: None;
  cursor: pointer;

  img {
    box-shadow: 6px 6px 0px #173D2D;

  }
  .selected {
    max-width: 90%;
    min-width: 90%;
  }
}
.media {
  margin: 1rem auto 1rem auto;
  display: block;
  max-width: 100%;
  height: 30vw;
}
@media screen
  and (min-width: 200px)
  and (max-width: 847px)
  and (-webkit-min-device-pixel-ratio: 2.6) {

  main {
    margin: 3rem 2rem 1rem 2rem;
  }

}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}
